.Button {
}

button.btn--pilled {
    color: #cc5500;
    background-color: #282c34;
    border-color: #cc5500;
    font-weight: bold;
    border-width: 2px;
}

button.btn--pilled:hover {
    background-color: #cc5500;
    color: #282c34;
    border-color: #cc5500;
    border-width: 2px;
}
